.control-bar-container {
    display: flex;
}

.more-options-container {
    padding:10px;
}

.pencil-width-selector-container input {
    width:100px;
}

.color-selector-container {
    display: flex;
    gap:10px;
    align-items: center;
}

.shapes-container {
    display: flex;
    gap:0.5rem;
}

.shapes-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding:5px;
}

.shapes-image-container.active-shape-container{
    background-color:rgba(0,0,0,0.2);
    
}
.shapes-container img {
    cursor: pointer;
}

@media only screen and (max-width : 768px) {
    .controlBar-container {
        width:100%;
    }
}