.control-button-container {
    position: relative;
    /* border:2px solid green; */
}

.control-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px 10px;
    cursor: pointer;
    /* opacity: 1; */
    /* border-bottom: 1px solid black; */
    /* border:2px solid red; */
    width:70px;
    height:70px;
    border:2px solid black;

}

.control-button-icon:hover,
.control-button-icon.active {
    background-color: rgba(0,0,0,0.2);
}

.control-button-icon img {
    width:30px;
    height:30px;
}

.more-controls-container {
    /* background-color: #BDCDD6; */
    position: absolute;
    left:calc(100% + 1px);
    top:0px;
    z-index: 2;
    background-color:orange;
    border-radius:8px;
    /* border:3px solid black; */
}