.control-button-container {
    position: relative;
}

.control-button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px 10px;
    cursor: pointer;
    width:70px;
    height:70px;
    border:2px solid black;

}

.control-button-icon:hover,
.control-button-icon.active {
    background-color: rgba(0,0,0,0.2);
}

.control-button-icon img {
    width:30px;
    height:30px;
}

.more-controls-container {
    position: absolute;
    left:calc(100% + 1px);
    top:0px;
    z-index: 2;
    background-color:orange;
    border-radius:8px;
}