.drawing-board-container {
    /* width:calc(100% - 6rem); */
    position: relative;
    width:85%;
    height:80%;
    border:2px solid red;
    border-radius:11px;
    border:20px solid black;
    background: white;
    margin-top:30px;
}

.eraser-circle {
    position: absolute;
    border:2px solid black;
    left:0px;
    top:0px;
    border-radius: 50%;
}